name: kopynator
description: Kopynator SDK for Flutter - The i18n management solution.
version: 1.0.0
homepage: https://www.kopynator.com
repository: https://github.com/cflorioluis/kopynator-flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  lints: ^3.0.0

flutter:
  uses-material-design: true
